VITE_API_URL=http://localhost:3000/api/v1
VITE_SOCKET_URL=http://localhost:3000
VITE_STATE_API_URL=https://example.com/state-api
VITE_CITY_API_URL=https://example.com/city-api
VITE_RAPIDAPI_KEY=your_rapidapi_key_here
VITE_PAYPAL_CLIENT_ID=your_paypal_client_id_here