PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/bookent
MONGODB_ATLAS_URI=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_USER_REFRESH_TOKEN_EXPIRES_IN=7d
JWT_ADMIN_REFRESH_TOKEN_EXPIRES_IN=1d
EMAIL=
PASSWORD=
FRONTEND_URL=http://localhost:5173
LOCATION_API_KEY=
GOOGLE_MAP_URI=
REDIS_URI=redis://127.0.0.1:6379
REDIS_OTP_EXPIRES_IN=300
REDIS_EVENT_VALIDATION_EXPIRES_IN=600
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_SIGNED_URI_EXPIRES_IN=300
GOOGLE_CALLBACK_URL=
LOGO_URL=
LOG_LEVEL=info
LOCK_TTL=300000
LOCKMETA_TTL=5000
LOCK_EXTEND_TTL=600
LOCKMETA_EXTEND_TTL=5
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
CURRENCY_API_KEY=
OPEN_EXCHANGES_RATE_URL=
BOOKING_BLOCK_HOURS=4
CREATE_ORDER_QR_CODE_EXPIRY=10y
QR_DATA_JWT_SECRET=
ORDER_CLEANUP_CRON=*/10 * * * *