# Server
PORT=

# MongoDB URIs
MONGODB_URI=
MONGODB_ATLAS_URI=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_USER_REFRESH_TOKEN_EXPIRES_IN=
JWT_ADMIN_REFRESH_TOKEN_EXPIRES_IN=
JWT_ACCESS_TOKEN_EXPIRES_IN=

# Node Mailer
EMAIL=
PASSWORD=

# Frontend
FRONTEND_URL=

# Location API
LOCATION_API_KEY=

# Redis
REDIS_URI=
REDIS_OTP_EXPIRES_IN=
REDIS_EVENT_VALIDATION_EXPIRES_IN=

# AWS S3 Bucket
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_SIGNED_URI_EXPIRES_IN=

# Google Maps
GOOGLE_MAP_URI=

# Callback URLs
GOOGLE_CALLBACK_URL=

# Branding
LOGO_URL=

# Logging
LOG_LEVEL=

# Locking
LOCK_TTL=
LOCKMETA_TTL=
LOCK_EXTEND_TTL=
LOCKMETA_EXTEND_TTL=

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=

# Currency API
CURRENCY_API_KEY=

# Booking rule (your business logic)
BOOKING_BLOCK_HOURS=

# Open Exchange Rate
OPEN_EXCHANGES_RATE_URL=

# Create Order
CREATE_ORDER_QR_CODE_EXPIRY=
QR_DATA_JWT_SECRET=

# Clean Order Cron
ORDER_CLEANUP_CRON=